---
layout: default
---
<div class="row">
  <div class="col-md-4">
    <img src="{{ page.artwork }}" class="img-fluid mb-3" alt="{{ page.title }} artwork">
  </div>
  <div class="col-md-8">
    <h1>{{ page.title }}</h1>
    <h4>Artist: <a href="{{ page.artist_url | relative_url }}">{{ page.artist }}</a></h4>
    <p>Year: {{ page.year }}</p>
    <p>Label: {{ page.label }}</p>
    <div class="row">
      <div class="col-md-6">
        <h5>Side A</h5>
        <ol>
          {% for track in page.tracks.side_a %}
            <li>{{ track }}</li>
          {% endfor %}
        </ol>
      </div>
      <div class="col-md-6">
        <h5>Side B</h5>
        <ol>
          {% for track in page.tracks.side_b %}
            <li>{{ track }}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
</div>