---
layout: default
---
<div class="artist-page">

    {{ include nav.html }}

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Cover</th>
      <th scope="col">Title</th>
      <th scope="col">Year Released</th>
    </tr>
  </thead>
{% for album in page.albums %}
  <tbody>
    <tr>
      <th><img src="{{ album.cover }}" style="width: 100px;height:100px;" class="card-img-top" alt="..."></th>
      <td>{{ album.title }}</td>
      <td>{{ album.year }}</td>
    </tr>
 {% endfor %}
  </tbody>
</table>
