---
layout: default
---
<div class="artist-page">
    <h1>{{ page.name }}</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
{% for album in page.albums %}
  <tbody>
    <tr>
      <th><img src="{{ album.cover }}" style="width: 100px;height:100px;" class="card-img-top" alt="..."></th>
      <td>{{ album.title }}</td>
      <td>{{ album.year }}</td>
      <td>@mdo</td>
    </tr>
 {% endfor %}
  </tbody>
</table>
